<template name="appFooter">
  <div class="ar-navbar app-footer">
     <div class="nav-left">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{/if}}
      {{/if}}
    </div>
    <div class="nav-center">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{else}}
          {{> newVote linkText="Create your own QuickVote"}}
        {{/if}}
      {{else}}
        {{> contactEmail}}&nbsp;  
<a href="https://github.com/andersr/QuickVote"  alt="QuickVote on GitHub" title="QuickVote on GitHub"><i class="icon-button small-icon icon ion-social-github"></i></a>
      {{/if}}
    </div>
    <div class="nav-right">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>