<template name="appFooter">
{{#if voteDetail}}
  <div class="ar-navbar app-footer">
<!--      <div class="nav-left">

    </div> -->
    <div class="nav-center">
      {{#if isOwner}}
        {{> openCloseVoting}}
        {{else}}
        {{#unless votingEnabled}}
         Voting is currently closed.
        {{/unless}}
      {{/if}}
    </div>
    <div class="nav-right">
    </div>
  </div>
{{/if}}
  <div class="ar-navbar app-footer">
  <!--    <div class="nav-left">

    </div> -->
    <div class="nav-center">
{{> contactEmail}}&nbsp;&nbsp;{{> gitHubLink}}
{{#if voteDetail}}
{{#unless isOwner}} | {{> newVote linkText="Create your own QuickVote"}}
{{/unless}}
{{/if}}
    </div>
<!--     <div class="nav-right">
  
    </div> -->
  </div>
</template>