<template name="appFooter">
  <div class="ar-navbar app-footer">
     <div class="nav-left">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{/if}}
      {{/if}}
    </div>
    <div class="nav-center">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{else}}
          {{> newVote linkText="Create your own QuickVote"}}
        {{/if}}
      {{else}}
        {{> contactEmail}}&nbsp;&nbsp;{{> gitHubLink}}
      {{/if}}
    </div>
    <div class="nav-right">
      {{#if voteDetails}}
        {{#if isOwner}}
          Owner vote details view
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name="voteFooter">
  <div class="ar-navbar app-footer">
     <div class="nav-left">
        {{#if isOwner}}
          +
        {{/if}}
    </div>
    <div class="nav-center">
    {{> openCloseVoting}}
    </div>
    <div class="nav-right">
        {{#if isOwner}}
          Share
        {{/if}}
    </div>
  </div>
</template>