body
  background-color: $very-light-gray

.app-container
  background-color: $app-background-color
  border: 1px solid $light-gray
  @include border-radius(.35em)
  // border-radius: .35em

// BRAND
// --------------------------------------------

.app-brand
  color: $light-gray


// ICONS
// --------------------------------------------

.icon-button
  color: $gray

  &:hover
    color: $off-black




