// FULL HEIGHT, SINGLE COLUMN
// ____________________________________________


//GLOBAL
html,body
  box-sizing: border-box
  height:100%

*, *:before, *:after
  box-sizing: inherit

body
  overflow:hidden
  padding:0
  margin:0

//APP CONTAINER
.app-container
  height:100%
  margin-top: 0
  margin-bottom: 0
  margin-left: auto
  margin-right: auto
  padding-left: 1.5em
  padding-right:$app-container-padding
  max-width: $app-max-width
  display: flex
  flex-direction: column

// APP HEADERS AND FOOTERS
.app-header
  height: $app-header-height

  .nav-center
    .app-brand
      display: inline-block
      width: 100%
.app-header, .app-footer, .vote-footer
  .nav-center
    text-align: center

.app-footer
  height: $app-footer-height

.vote-footer
  height: $vote-footer-height


// MAIN CONTENT
.main-content
  flex: 1
  overflow-x: auto
  -webkit-overflow-scrolling: touch


// TABLET AND LARGER
@media screen and (min-width: $small-screen-break-point)

  .app-container
    height: $app-height
    margin-top: $app-top-bottom-margin
    margin-bottom: $app-top-bottom-margin

//HELPERS
.padding-bottom
  padding-bottom: 1em


