// CORE
// @import "core/normalize"
@import "core/variables"
@import "core/helpers"

// LAYOUTS
@import "layouts/full_height_single_column"

// COMPONENTS
@import "components/alerts"
@import "components/buttons"

// THEME
@import "themes/grayscale"


// TEXT
// --------------------
.truncate-text
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


.avatar
  display: inline-block

.dropdown .caret
  display: inherit

.dropdown a
  text-decoration: none

// .dropdown-menu
//   right:0
//   left:50px


// .header-right .dropdown-menu
//   right: 0 !important
//   left: auto !important