<template name="openCloseVoting">
{{#if isOwner}}
  <div class="checkbox">
     <label>
     <input  type="checkbox" class="voteOpenClose" data-toggle="toggle" data-on="Voting Open" data-off="Voting Closed" data-onstyle="success" data-offstyle="danger" data-size="large" checked={{votingIsOpen}}>
    </label>
    </div>
{{/if}}
</template>


   <template name="votingEnabledTmp">
   <div class="checkbox">
  <label>
  <input class="voteOpenClose" type="checkbox" checked={{votingIsOpen}}>
  Enable voting</label>
</div>
   </template>