<template name="voteDetail">
   <table class="table">
   <tbody>
       {{#unless isOwner}}
       {{#unless votingIsOpen}}
          <tr>
        <td>&nbsp;</td>
        <td class="align-center">
           Voting is closed :-/
        </td>
        <td>&nbsp;</td>
      </tr>
     
   {{/unless}}
   {{/unless}}
     {{#if isOwner}}
       <tr>
        <td>&nbsp;</td>
        <td>
          {{> addVoteChoice}}
        </td>
        <td>&nbsp;</td>
      </tr>
    {{/if}}
    {{#each voteChoices}}
      <tr>
        <td>{{count}}</td>
        <td>{{title}}</td>
        <td>
          {{#if votingIsOpen}}
            {{> upDownVote}}
          {{else}}
            {{#if isOwner}}
              {{> deleteVoteChoice}}
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
      {{#if isOwner}}
      <tr class="vote-settings">
      <td>&nbsp;</td>
      <td class="align-center">{{> votingEnabled}}</td>
      <td>&nbsp;</td>
      </tr>
     {{/if}}
  </tbody>
</table>
</template>