<template name="appHeader">
<header class="app-header">
      <div class="header-left">
      {{> actionButton event=headerLeft.event icon=headerLeft.icon title=headerLeft.title size="2x"}}
      </div>
      <div class="header-center">
      {{> Template.dynamic template=headerCenter}}
      </div>
      <div class="header-right">
      {{> loginButtons align="right"}}
      </div>
  </header>
</template>


<template name="sui_appHeader">
  <div class="ui fixed inverted menu">
    <div class="ui container">
    <a class="ui item button toggle-sidebar" data-content="View sidebar menu">
        <i class="large sidebar icon" title="View sidebar menu"></i>
      </a>
      {{#if isHomePage}}
      <div class="header item">{{appTitle}}</div>
      {{else}}
      {{#linkTo route="home" class="header item"}}{{appTitle}}{{/linkTo}}
      {{/if}}
      
      <div class="right menu">
        <div class="ui right aligned item">
          {{> loginButtons}}
        </div>
      </div>
    </div>
  </div>
</template>

  <template name="twbs_appHeader">
  <div class="item">
      {{#unless isCreatingVote}}
        {{> newVote}}
      {{/unless}}
      </div>
     {{#if currentUser}}
          {{> userNavDropDown}}
          {{else}}
          {{#unless isLoginPage}}
          {{> loginButtons align="right"}}
          {{/unless}}
          {{/if}}
    <div class="header clearfix">
      <nav>
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <h3> {{#linkTo route="home" class="navbar-brand"}}QuickVote{{/linkTo}}</h3>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            {{#unless addingNewVote}}
            {{> newVoteBtn}}
            {{/unless}}  
            <ul class="nav navbar-nav navbar-right">
              {{#if showLogin}}
              {{> loginButtons}}
              {{/if}}
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </div>
  </template>