<template name="appHeader">
  <header class="app-header">
      <div class="header-left">
        {{> actionButton event=headerLeft.event icon=headerLeft.icon title=headerLeft.title size="2x"}}
      </div>
      <div class="header-center">
        {{> Template.dynamic template=headerCenter}}
      </div>
      <div class="header-right user-nav {{#if userNavOpen}}dropdown-open{{/if}}">
      {{#if currentUser}}
        {{#with currentUser}}
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                  {{> avatar user=this shape="circle" size="small"}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </div>
      {{/with}}
        {{else}}
         {{> loginButtons}}
        {{/if}}
      </div>
  </header>
</template>