<template name="votesList">
    <table class="table">
       <tbody>
         {{#if noVotes}}
           {{#unless creatingVote}}
              <div class="align-center">
                <h3>Sorry, nothing to vote on <i class="fa fa-frown-o"></i></h3>
                <p><a href="" class="lead new-vote">Create a new vote?</a></p>
              </div>
            {{/unless}}
          {{else}}
          {{#each this}}
          <tr>
            <td>
              <h2>
                {{#linkTo route='voteDetail'}}{{title}}{{/linkTo}}
              </h2>
            </td>
            <td class="vertical-middle text-center">
                {{#if this.votingEnabled}}
                   Voting Open
                {{else}}
                   Voting Closed
                {{/if}}
            </td>
            {{#if isOwner}}
            {{> deleteVote}}
            {{/if}}
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
    </table>
</template>