// FULL HEIGHT, SINGLE COLUMN LAYOUT
// _______________________________________________________

// Apply a box layout to all elements
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html,body
  box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

html, body, .app-container
  height: 100%

.app-container
  margin-left: auto
  margin-right: auto
  max-width: $app-max-width


.app-container
  display: flex
  flex-direction: column

.app-header
  position:fixed
  top:0
  z-index: 1
  width: 100%
  display: table
  border-collapse:collapse
  height: $app-header-height

  .header-left, .header-center, .header-right
    display: table-cell
    text-align: center
    vertical-align:middle

  .header-left
    width: 3.5em
    padding-left: $app-padding

  .header-right
    width: 5em
    padding-right: $app-padding

.main-content
  display: flex
  flex-direction: column
  flex: 1
  padding-left: 1.5em
  padding-right: 1.5em
