// FULL HEIGHT, SINGLE COLUMN LAYOUT
// _______________________________________________________

html,body
  box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

html, body, .app-container
  // height: 100%
  min-height: 100vh

.app-container
  margin-left: auto
  margin-right: auto
  max-width: $app-max-width
  display: flex
  flex-direction: column

.main-content
  margin-top: $app-header-height
  flex: 1
  padding-left: $app-shell-padding + 4em
  padding-right: $app-shell-padding + 4em

// @media screen and (min-width: 60em)
//   .app-header
//     position:static

//   .main-content
//     margin-top: 0
