<template name="createVote">
  <form class="form new-vote-form" id="createVote" action="">
      <input class="form-control" id="voteTitle" type="text" name="voteTitle" placeholder="New QuickVote..."  />
  </form>
</template>


<template name="tmpCreateVote">
  <form class="form new-vote-form" id="createVote" action="">
      <input class="form-control" id="voteTitle" type="text" name="voteTitle" placeholder="New QuickVote..."  />
    <input type="submit" class="mobile-submit">
  </form>
</template>