<template name="votesList">
 {{> newVote}}
  <h1 class="ui header">My QuickVotes</h1>
   
<table class="ui very basic padded table">
 <tbody>
    {{#each this}}
    <tr>
      <td>
        <h2 class="ui header">
          {{#linkTo route='voteDetail'}}{{title}}{{/linkTo}}
        </h2>
      </td>
      <td>
        <div class="sub header">
          {{#if votingEnabled}}
             <span class="color-positive bold-text"> Voting Open</span>
          {{else}}
             Voting Closed
          {{/if}}
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</template>

<template name="votesListSideBar">
  <div class="header">Recent Votes</div>
      {{#each this}}
      <div class="item">
      <h3>{{#linkTo route='voteDetail'}}{{title}}{{/linkTo}}</h3>
      </div>
     {{/each}}
</template>