<template name="votesList">
    <table class="table">
       <tbody>
          {{#each this}}
          <tr>
            <td>
              <h2>
                {{#linkTo route='voteDetail'}}{{title}}{{/linkTo}}
              </h2>
            </td>
            <td class="vertical-middle text-center">
                {{#if votingEnabled}}
                   Voting Open
                {{else}}
                   Voting Closed
                {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
    </table>
</template>