.app-header
  display: flex
  flex-flow: row nowrap
  align-items:center
  width:100%
  height: $app-header-height

  .header-left
    padding-left: $app-shell-padding
    align-self: flex-start
    padding-top:1em

  .header-right
    padding-right: $app-shell-padding
    align-self: flex-start
    padding-top:1em

  .header-center
    padding-left: $app-shell-padding + 2em
    padding-right: 1em
    align-self: flex-end
    padding-bottom:1em
    flex: 1