// BUTTONS


// Buttons containing only an icon
.icon-button
  background-color: transparent
  border:none

  &:focus
    outline: 0



// color: $light-gray;

// set color of font-awesome icons
//     .fa
//       color: $light-gray 



//     i:hover {
//       color: $steel-gray;
//     }
//   }
//   &.unstyled {
//     background-color: transparent;
//     border:none;

//     &:focus {
//      outline: 0;
//     }
//   }
// }