//CUSTOMIZE TWBS DROPDOWN FOR USER NAV
.user-nav

  .dropdown
    .avatar
      margin-left:1em
      display: inline-block
    .caret
      display: inherit
    a
      text-decoration: none

    .dropdown-menu
      border-top-right-radius:0

    .dropdown-menu-right
      right:-2em
      top:100%
      border:none




