//CUSTOMIZE TWBS DROPDOWN FOR USER NAV
.user-nav
  height: 100%
  padding-top:1em
  padding-right:1em
  width: 4.5em
  padding-right:.25em

  .dropdown
    height: 100%
    .avatar
      margin-left:1em
      display: inline-block
    .caret
      display: inherit
    a
      text-decoration: none
    // &:hover
    //   background-color: white


