<template name="voteDetail">
{{> pageTitle}}
  <table class="table">
  <tbody>
      {{#unless votingEnabled}}
        {{#unless isOwner}}
        <tr>
          <td>&nbsp;</td>
          <td class="align-center">
            <h2>Voting is closed <i class="fa fa-frown-o"></i></h2>
          </td>
          <td>&nbsp;</td>
        </tr>
        {{/unless}}
        {{#if hasWinner}}
       <tr>
        <td>&nbsp;</td>
        <td class="align-center">
         <h2>{{displayWinners}}</h2>
        </td>
        <td>&nbsp;</td>
      </tr>
      {{/if}}
    {{/unless}}
    {{#if isOwner}}
       <tr>
        <td>&nbsp;</td>
        <td>
          {{> addVoteChoice}}
        </td>
        <td>&nbsp;</td>
      </tr>
    {{/if}}
    {{#each voteChoices}}
      <tr class="vote-choices">
        <td class="large-text vertical-middle">{{count}}</td>
        <td class="large-text">{{title}}</td>
        <td class="large-text vertical-middle">
          {{#if isOwner}}
            {{> deleteVoteChoice}}
          {{else}}
            {{#if votingEnabled}}
              {{> upDownVote}}
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
      {{#if isOwner}}
      <tr class="vote-settings">
      <td>&nbsp;</td>
      <td class="align-center">{{> openCloseVoting}}</td>
      <td>&nbsp;</td>
      </tr>
     {{/if}}
  </tbody>
</table>
</template>