<template name="voteDetail">
{{> pageTitle}}

  <table class="table">
  <tbody>
      {{#if showVoteResults}}
 
        <tr>
          <td>&nbsp;</td>
          <td class="align-center">
            <h2>Vote Results</h2>
          </td>
          <td>&nbsp;</td>
        </tr>
    {{/if}}
    {{#if isOwner}}
      {{#unless showVoteResults}}
       <tr>
        <td>&nbsp;</td>
        <td>
          {{> addVoteChoice}}
        </td>
        <td>&nbsp;</td>
      </tr>
      {{/unless}}
    {{/if}}
    {{#each voteChoices}}
      <tr class="vote-choices">
        <td class="large-text vertical-middle">{{count}}</td>
        <td class="large-text">{{title}}</td>
        <td class="large-text vertical-middle">
          {{#if isOwner}}
            {{> deleteVoteChoice}}
          {{else}}
            {{#if votingEnabled}}
              {{> upDownVote}}
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
      {{#if isOwner}}
      <tr class="vote-settings">
      <td>&nbsp;</td>
      <td class="align-center">{{> openCloseVoting}}</td>
      <td>&nbsp;</td>
      </tr>
     {{/if}}
  </tbody>
</table>
</template>